@model KpaFinAdvisors.Common.Models.Blog
@{
    ViewData["Title"] = "Edit blog";
}
<script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>
<h4>Edit blog</h4>
<form asp-controller="Blogs" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" id="editor1"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    @* @Html.Raw(ViewBag.Editor1) *@
    @* <textarea id="editor1" name="editor1"></textarea>
    <br />
    <button type="submit" class="btn btn-dark">Save</button> *@
</form>
<script>
    // CKEDITOR.replace('editor1', {
    //     removeButtons: 'Link,Unlink,Anchor,Image,About,Table,Source',
    // });
    let aa = ClassicEditor
        .create(document.querySelector('#editor1'), {
            toolbar: {
                items: ["undo", "redo", "|", "heading", "|", "bold", "italic", "|", "bulletedList", "numberedList"]
            },
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
