@using Calendar.Models.Enums;
@using System.Security.Claims;
@model Calendar.Models.TaskStatus
@* @model Calendar.Models.TaskWithStatus
 *@
<table>
    @*     <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.TaskStatus)
    </th>
    </tr>
    </thead> *@
    <tbody>
        @{
            string formMethod = string.Empty;
            if (Model.Id != 0)
            {
                formMethod = "Edit";
            }
            else
            {
                formMethod = "Create";
            }
        }
        <form asp-controller="TaskStatus" asp-action="@formMethod">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" value="@User.Claims.First(x => x.Type == ClaimTypes.SerialNumber).Value" />
            <input type="hidden" asp-for="OriginalTaskId" />
            <input type="hidden" asp-for="GeneratedTaskId" />
        <tr>
            <td>
                <select asp-for="BSEStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="BSEStatus" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="NSEStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NSEStatus" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="MCXStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="MCXStatus" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="NCDEXStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NCDEXStatus" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="CDSLStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="CDSLStatus" class="text-danger"></span>
            </td>
            <td>
                <select asp-for="NSDLStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NSDLStatus" class="text-danger"></span>
            </td>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" class="btn btn-primary" />
            </td>
        </tr>
        </form>

    </tbody>
</table>
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GeneratedTaskId" />
            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label" ></label>
                <select asp-for="TaskStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    <script>
        $(document).ready(function () {
            // Set the value of Model2.PropertyA based on Model1.Property1
            var property1Value = $("#Property1").val();
            $("#PropertyA").val(property1Value);
        });
    </script>
}
