@model Calendar.Models.Filter
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid">
    <div class="filter-group">
        <label>Filters</label>
        <form asp-action="Filter" asp-controller="Filters" class="">
            <div class="row">
                <input type="hidden" asp-for="RedirectTo" value="@ViewData["Page"]" />
                <div class="form-group col">
                    <label class="control-label">Task name</label>
                    <input type="text" asp-for=TaskName class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="control-label">Start date</label>
                    <input type="date" asp-for=StartDate class="form-control" />
                </div>
                <div class="form-group col">
                    <label class="control-label">End date</label>
                    <input type="date" asp-for=EndDate class="form-control" placeholder="dd-MM-YYYY"/>
                </div>
                <div class="form-group col">
                    <label class="control-label"></label>
                    <input type="submit" class="btn btn-primary form-control" />
                </div>
            </div>
        </form>
    </div>
</div>
