@model Calendar.Models.DueTaskList
@{
    ViewData["Title"] = "Home Page";
}

<label for="taskNameFilter" class="control-label">Search by task name</label>
<input type="text" class="form-control w-25" id="taskNameFilter">

@*https://www.youtube.com/watch?v=6j5l--NEmrQ
*@

<h5>Past Due</h5>
<div>
    @{
        ViewData["PastDue"] = "true";
    }
    @await Html.PartialAsync("../_TaskList", Model.PastDue, ViewData)
</div>
<hr />
<h5>Due Today</h5>
<div>
    @{
        ViewData["PastDue"] = "false";
    }
    @await Html.PartialAsync("../_TaskList", Model.DueToday, ViewData)
</div>
<hr />
<h5>Due in a Week</h5>
<div>
    @{
        ViewData["PastDue"] = "false";
    }
    @await Html.PartialAsync("../_TaskList", Model.DueThisWeek, ViewData)
</div>


@* <h5>Due This Month</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueThisMonth)
</div>
<hr />
<h5>Due in Six Month</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueNextSixMonth)
</div>
<hr />
<h5>Due in a Year</h5>
<div>
    @await Html.PartialAsync("../_TaskList", Model.DueThisYear)
</div> *@

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#taskNameFilter').on('input', function () {
                var filterValue = $(this).val().toLowerCase();

                $('.taskRow').each(function () {
                    var taskNameCell = $(this).find('.taskName');
                    var taskName = taskNameCell.text().toLowerCase();

                    if (taskName.includes(filterValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}