@using Calendar.Models.Enums;
@using System.Security.Claims;
@model Calendar.Models.TaskStatus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" value="@User.Claims.First(x => x.Type == ClaimTypes.SerialNumber).Value" />
            <div class="form-group">
                <label asp-for="OriginalTaskId" class="control-label"></label>
                <input asp-for="OriginalTaskId" class="form-control" disabled/>
                <span asp-validation-for="OriginalTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneratedTaskId" class="control-label"></label>
                <input asp-for="GeneratedTaskId" class="form-control" disabled/>
                <span asp-validation-for="GeneratedTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BSEStatus" class="control-label"></label>
                <select asp-for="BSEStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="BSEStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NSEStatus" class="control-label"></label>
                <select asp-for="NSEStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NSEStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCXStatus" class="control-label"></label>
                <select asp-for="MCXStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="MCXStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NCDEXStatus" class="control-label"></label>
                <select asp-for="NCDEXStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NCDEXStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CDSLStatus" class="control-label"></label>
                <select asp-for="CDSLStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="CDSLStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NSDLStatus" class="control-label"></label>
                <select asp-for="NSDLStatus" class="form-control" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()"></select>
                <span asp-validation-for="NSDLStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
